<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="autoRetryProxy" class="com.lab.autoProxy.AutoRetry">
        <property name="target" ref="orderService"/>
    </bean>

    <bean id="orderServiceP"  class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>com.lab.service.OrderService</value>
            </list>
        </property>
        <property name="interceptorNames" value="autoRetryProxy" />
    </bean>


</beans>